body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Restaurant List Styles */
.restaurant-list {
  background-color: #f4f4f4;
  padding: 20px;
}

.restaurant {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}

.restaurant:hover {
  transform: scale(1.05);
}

.restaurant h2 {
  margin-bottom: 10px;
  color: #333;
}
.restaurant a {
  display: flex;
  padding: 10px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restaurant a:hover {
  background-color: #555;
  color: #fff;
}

/* Restaurant Detail Styles */
.restaurant-detail {
  background-color: blue;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-detail h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.restaurant-detail p {
  margin-bottom: 15px;
}
.restaurant-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header, .pizza-list-header, .nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.restaurant-list, .pizza-list, .form-container {
  background-color: #f4f4f4;
  padding: 20px;
}

.restaurant, .pizza-card, .card, .form-container {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card, .form-container button {
  background-color: #330d9b;
  color: #fff;
}

.card:hover, .form-container button:hover {
  background-color: #555;
}

.restaurant:hover, .card:hover {
  transform: scale(1.05);
}

.restaurant a, .form-container label {
  display: flex;
  padding: 10px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restaurant a:hover {
  background-color: #555;
  color: #fff;
}

.restaurant h2, .restaurant-detail h1, .card h2, .form-container h1 {
  margin-bottom: 10px;
  color: #333;
}

.restaurant-detail ul, .form-container form {
  list-style: none;
  padding: 0;
}

.restaurant-detail li {
  margin-bottom: 15px;
}

.pizza-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.pizza-para {
  font-style: italic;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
/* Navbar.css (create a separate CSS file for styling) */
nav {
  background-color: #333;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

li {
  margin: 0;
}

Link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

Link:hover {
  background-color: #555;
}
